// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scrollable {
    overflow-y: auto;
    min-height: 200px;
}
.scrollable label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}
